<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>New Robot Page</title>
  </head>
  <body>

    <h1 id="newRobotHeader">Please Create a New Robot Below</h1>
    <div class="main">
      <h1>{{errorMessage}}</h1>
      <form class="" action="/newRobot" method="post">

        <div class="">
          <label for="">Name</label>
          <input type="text" name="name" value="">
        </div>
        <div class="">
          <label for="">Avatar URL</label>
          <input type="url" name="avatar" value="">
        </div>
        <div class="">
          <label for="">Email</label>
          <input type="email" name="email" value="">
        </div>
        <div class="">
          <label for="">Phone Number</label>
          <input type="text" name="phone" value="">
        </div>
        <div class="">
          <label for="">University</label>
          <input type="text" name="university" value="">
        </div>
        <div class="">
          <label for="">Company</label>
          <input type="text" name="company" value="">
        </div>
        <div class="">
          <label for="">Job</label>
          <input type="text" name="job" value="">
        </div>
        <div class="">
          <label for="">Skills</label>
          <input type="text" name="skills" value="">
        </div>


        <div class="">
          <input id="submitButton" type="submit" name="" value="Create New Robot">
        </div>
    </form>
    <!-- <div class="">
      <h3 id=pageLoads>{{pageLoads}}</h3>
    </div> -->
  </div>
  </body>
</html>
